{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %} 
<form method="POST">
    <h3 align="center">Restaurant Randomizer</h3>
    <div class="form-group">
        <label for="location">Location</label>
        <input 
            type="location" 
            class="form-control" 
            id="location"
            name="location" 
            placeholder="Enter location"
        />
    </div>
    <div class="form-group">
        <label for="rating">Rating</label>
        <input 
            type="rating" 
            class="form-control" 
            id="rating"
            name="rating" 
            placeholder="Enter rating"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    {% endblock %}